<a href="https://colab.research.google.com/github/ZaibiX/ml-logs/blob/main/notebooks/pandasTuts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:

#Importing libraries
import pandas as pd;
import numpy as np;

# Creating 2D array as a data
data = np.array([["Ali", "Ahmad", 16],
                ["Hassan", "Usman", 19],
                ["Tariq", "Aziz", 25]]);

# print(data);

# A dataframe is a data structure in panda

df = pd.DataFrame(data=data, index=["row1", "row2", "row3"],columns=["FirstName","LastName","Age"]);
# print(df);

# df.head() -> to print top five
# df.head(10) -> top 10
# df.tail() -> to print last five
print(df.tail());

print(df.info());

print(df.describe());

     FirstName LastName Age
row1       Ali    Ahmad  16
row2    Hassan    Usman  19
row3     Tariq     Aziz  25
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, row1 to row3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FirstName  3 non-null      object
 1   LastName   3 non-null      object
 2   Age        3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes
None
       FirstName LastName Age
count          3        3   3
unique         3        3   3
top          Ali    Ahmad  16
freq           1        1   1

In [33]:

#indexing
#columnname, rowindex[loc], rowindex columnindex number[. iloc]

# indexing using column

print(df.head());

print("\nUsing only one column\n",df["FirstName"]);

print("\nUsing more than one column\n",df[["FirstName", "Age"]]);

print("\n\nTypes\n")
print(type(df["FirstName"])); # series -> either a column or a row (| or -)
print(type(df[["FirstName", "Age"]])); # Dataframe -> Multiple columns or rows

     FirstName LastName Age
row1       Ali    Ahmad  16
row2    Hassan    Usman  19
row3     Tariq     Aziz  25

Using only one column
 row1       Ali
row2    Hassan
row3     Tariq
Name: FirstName, dtype: object

Using more than one column
      FirstName Age
row1       Ali  16
row2    Hassan  19
row3     Tariq  25


Types

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [41]:

# indexing using row index name
print(df, "\n")
print("Indexing using single row: \n",df.loc["row2"]);
print("\nIndexing using multiple rows: \n",df.loc[["row1", "row2"]]);

     FirstName LastName Age
row1       Ali    Ahmad  16
row2    Hassan    Usman  19
row3     Tariq     Aziz  25

Indexing using single row:
 FirstName    Hassan
LastName      Usman
Age              19
Name: row2, dtype: object

Indexing using multiple rows:
      FirstName LastName Age
row1       Ali    Ahmad  16
row2    Hassan    Usman  19

In [46]:

# Indexing using both row index and column index

print(df);
print("\n\n");
print(df.iloc[0:1,0:3]);
print("\n\n");
print(df.iloc[:, [0, -1]]);

     FirstName LastName Age
row1       Ali    Ahmad  16
row2    Hassan    Usman  19
row3     Tariq     Aziz  25



     FirstName LastName Age
row1       Ali    Ahmad  16



     FirstName Age
row1       Ali  16
row2    Hassan  19
row3     Tariq  25

In [48]:

# convert dataframe to array

print(df.values);

[['Ali' 'Ahmad' '16']
 ['Hassan' 'Usman' '19']
 ['Tariq' 'Aziz' '25']]

In [62]:

# basic operations

df=pd.DataFrame(data=np.array([[1,2,3,np.nan],[5,6,7,8],[7,2,4,8],[5,2,2,3],[1,4,4,4]]), index=["row1", "row2","row3", "row4", "row5"], columns=["column1", "column2", "column3", "column4"] );

print(df);

print(df.isnull().sum());

print("\n\n");

# Count values in the column
print(df['column2'].value_counts());

# Unique values
print("\nUnique\n",df['column2'].unique());

print("\n\n", df[df['column2']>2]) # conditional indexing

column1    0
column2    0
column3    0
column4    1
dtype: int64



column2
2.0    3
6.0    1
4.0    1
Name: count, dtype: int64

Unique
 [2. 6. 4.]


       column1  column2  column3  column4
row2      5.0      6.0      7.0      8.0
row5      1.0      4.0      4.0      4.0