<a href="https://colab.research.google.com/github/ZaibiX/ml-logs/blob/main/notebooks/pandasTuts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:

#Importing libraries
import pandas as pd;
import numpy as np;

# Creating 2D array as a data
data = np.array([["Ali", "Ahmad", 16],
                ["Hassan", "Usman", 19],
                ["Tariq", "Aziz", 25]]);

# print(data);

# A dataframe is a data structure in panda

df = pd.DataFrame(data=data, index=["row1", "row2", "row3"],columns=["FirstName","LastName","Age"]);
# print(df);

# df.head() -> to print top five
# df.head(10) -> top 10
# df.tail() -> to print last five
print(df.tail());

print(df.info());

print(df.describe());

     FirstName LastName Age
row1       Ali    Ahmad  16
row2    Hassan    Usman  19
row3     Tariq     Aziz  25
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, row1 to row3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FirstName  3 non-null      object
 1   LastName   3 non-null      object
 2   Age        3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes
None
       FirstName LastName Age
count          3        3   3
unique         3        3   3
top          Ali    Ahmad  16
freq           1        1   1